.subtext,
.index_h1,
.index_h2 {
    text-align:center;
}

.subtext {
    margin-top:75px;
    margin-bottom:18px;
    font-size:14px;
    color:#8e8b8b;
}

.index_h1 {
    font-size: 22px;
    margin-bottom:15px;
    font-family: Poppins,sans-serif !important;
    font-weight:bold;
    text-transform:uppercase;
}

.index_h2 {
    color: #4e4c4c;
    margin-bottom:75px;
}

.categoryList {
    display:inline-grid;
    grid-template-columns:auto auto auto;
    grid-gap:5vh 2vw;
    margin-bottom:20vh;
    margin-left:13vw;
}

.bigPicture {
    grid-row: 1 / span 3;
}

.bigPicture img {
    height:75vh;
}

.smallPicture img {
    height:35vh;
}

.list-product article{
    display: inline-block;
    width: 34%;
    text-align: center;
    margin-bottom: 30px;
}

.list-product article:nth-child(odd) {
    margin-left:15.5vw;
}

.list-product article img{
    width: 50%;
    margin-bottom: 10px;
}
.list-product article a{display : block;}
.list-product article a.article_name{
    margin-bottom: 5px;
    font-family: Poppins, sans-serif !important;
    color : #333;
}
.list-product article a.article_categorie{
    color : #9E9E9E;
    margin-bottom: 5px;
    font-size : 14px;
}
.list-product article p{
    color : #83b735;
}

.newsletter {
    border-top:1px solid #c7c4c4;
    border-bottom:1px solid #c7c4c4;
    text-align:center;
    padding:5vh 0;
}

.newsletter h3 {
    text-transform:uppercase;
    font-weight:bold;
    font-size:18px;
    margin-bottom:22px;
}

.newsletter label {
    display:none;
}

.newsletter input[type="email"] {
    padding:13px 10px;
    width:17vw;
}

.newsletter input[type="submit"] {
    text-transform:uppercase;
    background-color:#83b735;
    color:#ffffff;
    font-weight:bold;
    padding:15px 25px;
    border:none;
    margin-left:-4px;
}