   <footer>
        <div class="address">
            <img src="../assets/img/wood-logo-dark.svg" alt="" title="Logo woodmart">
            <p>
                Condimentum adipiscing vel neque dis nam <br> parturient orci at scelerisque neque dis nam <br> parturient.
            </p>
            <address>
                <p>451 Wall Street, UK, London</p>
                <p>Phone: (064) 332-1233</p>
                <p>Fax: (099) 453-1357</p>
            </address>
        </div>
        <div class="recent_posts">
            <h4>Articles récents</h4>
            <article>
                <a href="#" hreflang="fr">
                    <img src="../assets/img/sleeping.jpg" alt="Photo d'une chambre avec lit" title="Image de l'article">
                </a>
                <div>
                    <h1>Un compagnon pour mieux <br>dormir</h1>
                    <p>23 juillet 2018</p>
                    <p>1 commentaire</p>
                </div>
            </article>
            <hr>
            <article>
                <a href="#" hreflang="fr">
                    <img src = "../assets/img/seating_inspiration.jpg" alt="Photo d'une cuisine avec chaise" title="Image de l'article">
                </a>
                <div>
                    <h1>Inspiration siège <br> d'éxterieur</h1>
                    <p>23 juillet 2018</p>
                    <p>1 commentaire</p>
                </div>
            </article>
        </div>
        <div class="our_stores">
            <h4>Nos boutiques</h4>
            <ul>
                <li>
                    <a href="#" hreflang="fr">Paris</a>
                </li>
                <li>
                    <a href="#" hreflang="fr">Marseille</a>
                </li>
                <li>
                    <a href="#" hreflang="fr">Bordeaux</a>
                </li>
                <li>
                    <a href="#" hreflang="fr">Lille</a>
                </li>
                <li>
                    <a href="#" hreflang="fr">Toulouse</a>
                </li>
                <li>
                    <a href="#" hreflang="fr">Bretagne</a>
                </li>
            </ul>
        </div>
        <div class="usefull_links">
            <h4>À propos</h4>
            <ul>
                <li>
                    <a href="#" hreflang="fr">Condistions générales de vente</a>
                </li>
                <li>
                    <a href="#" hreflang="fr">Conditions générales de la Marketplace</a>
                </li>
                <li>
                    <a href="#" hreflang="fr">Données personnelles</a>
                </li>
                <li>
                    <a href="#" hreflang="fr">Mentions légales</a>
                </li>
                <li>
                    <a href="#" hreflang="fr">Nous contacter</a>
                </li>
                <li>
                    <a href="#" hreflang="fr">Dernières news</a>
                </li>
            </ul>
        </div>
    </footer>