<!DOCTYPE html>
<html lang = "fr">
<head>
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
    <meta charset = "UTF-8">
    <title>E-commerce</title>
    <link rel = "stylesheet" href = "../assets/css/reset.css">
    <link rel = "stylesheet" href = "../assets/css/style.css">
</head>
<body>
    <header>
        <section class="section-search">
            <img src="../assets/img/wood-logo-dark.svg" alt="" title="Logo woodmart">
            <form method="get" action="#" class="search-form">
                <input type = "text" placeholder="Rechercher">
                <select id="select-categories">
                    <option value="choose" selected>Choisir une catégorie</option>
                    <option value="uncategorized">Sans catégorie</option>
                    <option value="clocks">Horloge</option>
                    <option value="lightning">Lumière</option>
                    <option value="furnitures">Fourniture</option>
                    <option value="accessories">accessoires</option>
                    <option value="cooking">Cuisine</option>
                    <option value="toys">Jouet</option>
                </select>
                <button type="submit" class="searchsubmit">Rechercher</button>
            </form>
            <div>
                <ul>
                    <li>Me connecter / S'inscrire</li>
                    <li class="shopping-cart">
                        <img src="../assets/img/shopping-cart.png" alt="Votre Panier" title="Votre Panier">
                        <p>0.00€</p>
                    </li>
                </ul>
            </div>
        </section>
        <nav>
            <ul>
                <li><a href="#">Catégories</a>
                    <ul>
                        <li><a href="#">Fournitures</a></li>
                        <li><a href="#">Cuisine</a></li>
                        <li><a href="#">Accessoires</a></li>
                        <li><a href="#">Fashion</a></li>
                        <li><a href="#">Horloge</a></li>
                        <li><a href="#">Lumière</a></li>
                        <li><a href="#">Jouet</a></li>
                        <li><a href="#">Fait maison</a></li>
                    </ul>
                </li>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Boutique</a>
                    <ul>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                    </ul>
                </li>
                <li><a href="#">Blog</a>
                    <ul>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Lorem ipsum</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>